@use "./../../shared/styles/mixins/no-user-text-selection" as n;
@use "./../../shared/styles/mixins/responsive" as r;
@use "./../../shared/styles/variables/colors" as colors;
@use "./../../shared/styles/variables/fonts" as fonts;

.info-tree {
  width: 100%;
  position: relative;

  @include n.no-user-text-selection;

  &__section {
    width: 100%;
    height: auto;
    padding-bottom: 650px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include r.responsive(desktop) {
      padding-bottom: 100px;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
    }

    @include r.responsive(tablet-large) {
      padding-bottom: 100px;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
    }

    @include r.responsive(tablet) {
      padding-bottom: 100px;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
    }

    @include r.responsive(phone-large) {
      padding-bottom: 100px;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
    }

    @include r.responsive(phone) {
      padding-bottom: 100px;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
    }

    &-card {
      z-index: 400;
    }

    &-card:nth-child(2) {
      margin-top: -108px;

      @include r.responsive(desktop) {
        margin-top: 0;
      }

      @include r.responsive(tablet-large) {
        margin-top: -25px;
      }

      @include r.responsive(tablet) {
        margin-top: -25px;
      }

      @include r.responsive(phone-large) {
        margin-top: -55px;
      }

      @include r.responsive(phone) {
        margin-top: -75px;
      }
    }

    &-card:nth-child(3) {
      @include r.responsive(tablet-large) {
        margin-top: -25px;
      }

      @include r.responsive(tablet) {
        margin-top: -25px;
      }

      @include r.responsive(phone-large) {
        margin-top: -55px;
      }

      @include r.responsive(phone) {
        margin-top: -75px;
      }
    }

    &-primary-geometry {
      display: flex;
      position: absolute;
      top: 44.7%;
      left: 48%;
      z-index: 125;
      transform: translateX(-50%);

      img {
        user-select: none;
        -webkit-user-drag: none;
        -webkit-touch-callout: none;
      }

      @include r.responsive(desktop) {
        top: 57%;

        img {
          width: 600px;
        }
      }

      @include r.responsive(tablet-large) {
        top: 61.3%;

        img {
          width: 480px;
        }
      }

      @include r.responsive(tablet) {
        top: 61%;

        img {
          width: 480px;
        }
      }

      @include r.responsive(phone-large) {
        top: 61.9%;

        img {
          width: 340px;
        }
      }

      @include r.responsive(phone) {
        top: 62.8%;

        img {
          width: 250px;
        }
      }
    }

    &-secondary-geometry {
      display: none;
      position: absolute;
      top: 26%;
      left: 49%;
      z-index: 125;
      transform: translateX(-50%);

      img {
        user-select: none;
        -webkit-user-drag: none;
        -webkit-touch-callout: none;
      }

      @include r.responsive(desktop) {
        display: block;

        img {
          width: 600px;
        }
      }

      @include r.responsive(tablet-large) {
        display: block;
        top: 29.5%;

        img {
          width: 480px;
        }
      }

      @include r.responsive(tablet) {
        display: block;
        top: 29.5%;

        img {
          width: 480px;
        }
      }

      @include r.responsive(phone-large) {
        display: block;
        top: 31%;

        img {
          width: 340px;
        }
      }

      @include r.responsive(phone) {
        display: block;
        top: 32.4%;

        img {
          width: 250px;
        }
      }
    }
  }

  &__primary-light-circle {
    width: 1400px;
    height: 680px;
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgba(17, 159, 20, 0.7),
      rgba(7, 61, 9, 0.833),
      rgba(2, 20, 3, 0.7),
      rgba(1, 12, 2, 0.7),
      rgba(0, 0, 0, 0.7)
    );
    position: absolute;
    top: 26.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(10px);
    z-index: 100;

    @include r.responsive(desktop-large) {
      width: 900px;
    }

    @include r.responsive(desktop) {
      width: 900px;
      top: 27%;
    }

    @include r.responsive(tablet-large) {
      width: 100%;
      top: 27%;
    }

    @include r.responsive(tablet) {
      width: 100%;
      top: 27%;
    }

    @include r.responsive(phone-large) {
      width: 100%;
      top: 31%;
    }

    @include r.responsive(phone) {
      width: 100%;
      top: 31.6%;
    }
  }

  &__secondary-light-circle {
    width: 1400px;
    height: 680px;
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgba(17, 159, 20, 0.7),
      rgba(7, 61, 9, 0.833),
      rgba(2, 20, 3, 0.7),
      rgba(1, 12, 2, 0.7),
      rgba(0, 0, 0, 0.7)
    );
    position: absolute;
    top: 26.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(10px);
    z-index: 100;
    display: none;

    @include r.responsive(desktop) {
      width: 900px;
      display: block;
      top: 50%;
    }

    @include r.responsive(tablet-large) {
      width: 100%;
      display: block;
      top: 52.5%;
    }

    @include r.responsive(tablet) {
      width: 100%;
      display: block;
      top: 52.5%;
    }

    @include r.responsive(phone-large) {
      width: 100%;
      display: block;
      top: 56%;
    }

    @include r.responsive(phone-large) {
      width: 100%;
      display: block;
    }

    @include r.responsive(phone) {
      width: 100%;
      display: block;
      top: 57%;
    }
  }

  &__gift-box {
    position: relative;
    padding: 15px 15px 0;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    z-index: 300;

    img {
      width: 300px;
      height: 300px;
      padding: 25px;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-touch-callout: none;

      @include r.responsive(tablet-large) {
        width: 250px;
        height: 250px;
      }

      @include r.responsive(tablet) {
        width: 250px;
        height: 250px;
      }

      @include r.responsive(phone-large) {
        width: 200px;
        height: 200px;
      }

      @include r.responsive(phone) {
        width: 200px;
        height: 200px;
      }
    }

    &::after {
      content: "";
      width: 500px;
      height: 350px;
      border-radius: 50%;
      position: absolute;
      background: radial-gradient(
        circle,
        rgba(13, 126, 15, 0.7),
        rgba(7, 61, 9, 0.833),
        rgba(2, 20, 3, 0.7),
        rgba(1, 12, 2, 0.7),
        rgba(0, 0, 0, 0.799)
      );
      z-index: -2;

      @include r.responsive(desktop) {
        content: "";
        width: 500px;
        height: 350px;
      }

      @include r.responsive(phone-large) {
        width: 90vw;
        height: 250px;
        background: radial-gradient(
          circle,
          rgba(13, 126, 15, 0.548),
          rgba(7, 61, 9, 0.833),
          rgba(2, 20, 3, 0.434),
          rgba(1, 12, 2, 0.4),
          rgba(0, 0, 0, 0.537)
        );
      }

      @include r.responsive(phone) {
        width: 90vw;
        height: 250px;
        background: radial-gradient(
          circle,
          rgba(13, 126, 15, 0.548),
          rgba(7, 61, 9, 0.833),
          rgba(2, 20, 3, 0.434),
          rgba(1, 12, 2, 0.4),
          rgba(0, 0, 0, 0.537)
        );
      }
    }

    &::before {
      content: "";
      width: 5px;
      height: 115px;
      position: absolute;
      top: -130px;
      left: 50%;
      border-radius: 40px;
      background-color: #00ff00;
      z-index: -1;
      display: none;

      @include r.responsive(desktop) {
        display: block;
        width: 4px;
      }

      @include r.responsive(tablet-large) {
        display: block;
        width: 4px;
      }

      @include r.responsive(tablet) {
        display: block;
        width: 4px;
      }

      @include r.responsive(phone-large) {
        display: block;
        width: 2px;
      }

      @include r.responsive(phone) {
        display: block;
        width: 2px;
      }
    }
  }
}
