@use './../../../shared/styles/mixins/responsive.scss' as r;

footer {
  position: relative;
  .footer-container {
    display: flex;
    justify-content: start;
    position: relative;
    z-index: 1;
    

    .social-media{
      position: absolute;
      top: 90px;
      width: 230px;
      height: 300px;
      background: url("./../../../assets/images/SunBase.png");
      background-size: contain;
      background-repeat: no-repeat;

      @include r.responsive(tablet-large){
        rotate: 90deg;
        top: 250px;
        right: 40%;
      }
      @include r.responsive(tablet){
        rotate: 90deg;
        top: 250px;
        right: 40%;
      }
      @include r.responsive(phone-large){
        rotate: 90deg;
        top: 250px;
        right: 40%;
      }
      @include r.responsive(phone){
        rotate: 90deg;
        top: 250px;
        right: 40%;
      }
      .social-media-text{
        color: gold;
        rotate: 270deg;
        position: absolute;
        top: 135px;
      }
      .icon-Apple{
        position: absolute;
        bottom: 300px;
        left: 30px;

      }
      .icon-Facebook{
        position: absolute;
        left: 118px;
        bottom: 207px;
      }
      .icon-Google{
        position: absolute;
        left: 140px;
        bottom: 125px;

        @include r.responsive(tablet-large){
          rotate: 90deg;
        }
      }
      .icon-Instagram{
        position: absolute;
        left: 118px;
        bottom: 35px;
      }
      .icon-Web{
        position: absolute;
        left: 30px;
        bottom: -50px;
      }
    }
  

    // .social-media {
    //   position: absolute;
    //   top: 100px;
    //   left: 0;
    //   z-index: 0; 

    //   @include r.responsive(phone) {
    //     top: 260px;
    //     left: 440px;
    //     z-index: 0;
    //     rotate: 90deg;
    //         }
    //   @include r.responsive(phone-large) {
    //     top: 320px;
    //     left: 45%;
    //     z-index: 0;
    //     rotate: 90deg;
    //         }
    //   @include r.responsive(tablet) {
    //     top: 320px;
    //     left: 45%;
    //     z-index: 0;
    //     rotate: 90deg;
    //         }
    //   @include r.responsive(tablet-large) {
    //     top: 320px;
    //     left: 45%;
    //     z-index: 0;
    //     rotate: 90deg;
    //         }
    // }

    .footer-background-container {
      position: absolute;
      top: 0;
      left: 120px;
      width: 89%;
      height: 100%;
      z-index: 0;

      @include r.responsive(desktop) {
      width: 87%;
      }
      @include r.responsive(tablet-large) {
      left: 0;
      width: 87%;
      }
      @include r.responsive(tablet) {
      left: 0;
      width: 100%;
      }
      @include r.responsive(phone-large) {
      left: 0;
      width: 100%;
      }
      @include r.responsive(phone) {
      left: 0;
      width: 100%;
      }
 
      img {
        width: 100%;
        height: 400px;
      }
    }

    .footer-text-container {
      display: flex;
      justify-content: center; 
      position: relative;
      flex-wrap: wrap;
      // background: url("./../../../assets/images/greenBrush.png");
      // background-size: contain;
      // background-repeat: no-repeat;

      // width: 100%;
      // z-index: 2;
  
      ul {
        list-style-type: none;
        padding-top: 40px;
      }
      li {
        padding: 10px 0;
      }

      .title-footer {
        font-weight: bold;
        color: white;
      }

      .PP-detail {
        font-style: italic;
        padding: 0;
      }
    }

    .footerList-first{
      display: flex;
    }
    .footerList-second{
      display: flex;

      @include r.responsive(desktop) {
        display: block;
        padding-top: 40px;
        ul{
          padding-top: 0;
        }
      }
      @include r.responsive(tablet-large) {
        display: block;
        padding-top: 40px;
        ul{
          padding-top: 0;
        }
      }
      @include r.responsive(tablet) {
        display: block;
        padding-top: 40px;
          ul{
            padding-top: 0;
          }
      }
      @include r.responsive(phone-large) {
        display: block;
        padding-top: 40px;
        ul{
          padding-top: 0;
        }
      }
    }
  }
}





.create-by-container {
  width: 360px;
  color: green;
  display: flex;
  justify-content: center;
}

.footer-create-by {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 50px;

  img {
    width: 150px;
  } 
}





