$base-background-color: #000;
$base-white-color: #efefef;


//Andrii color variables
$black-text: #232323;
$white-text: #efefef;
$gray-base: #808080;
$gray-hover: #afafaf;
$app-accent: #00FF00D8;
$error: #FF0000AA;


//Anton color variables
$green-dark: #00bd00;
$green-light: #00fd00;
$black-transparent: #00000000;