@use "./../../shared/styles/mixins/responsive" as r;

.eco-app-network {
  display: flex;
  flex-direction: column;
  align-items: center;
  


  .eco-app-network__apps-container {
    display: flex;
    gap: 250px;
    position: relative;

    @include r.responsive(tablet-large) {
      gap: 150px;
      }
  }

  .eco-app-network__app {
    display: flex;
    align-items: center;
    justify-content: center;

    .eco-app-network__app-image {
      max-width: 100%;
    }
  }

  .eco-app-network__app--meal-count {
    position: relative;
    top: 250px;
    width: 150px;
  }

  .eco-app-network__app--cheap-it {
    position: relative;
    top: 0;
    width: 200px;
  }

  .eco-app-network__app--eco-meal {
    position: relative;
    top: 250px;
    width: 150px;
  }

  .eco-app-network__globe {
    margin-top: 100px;

    .eco-app-network__globe-image {
      max-width: 600px;
    }
  }
}
