@use "./../../../shared/styles/mixins/no-user-text-selection" as n;
@use "./../../../shared/styles/mixins/responsive" as r;
@use "./../../../shared/styles/variables/colors" as colors;
@use "./../../../shared/styles/variables/fonts" as fonts;

$text-color: colors.$gray-base;
$hover-text-color: colors.$green-light;
$title-text: colors.$white-text;

.footer-list {
  display: flex;
  justify-content: center;
  position: relative;
  height: 400px;
  width: 100%;
  z-index: 1;

  &__background {
    position: absolute; 
    top: 0;
    left: 120px;
    width: 87%;
    height: 100%;
    z-index: 0; 

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @include r.responsive(phone-large){
      display: none; 
    }
    @include r.responsive(phone){
      display: none; 
    }
    @include r.responsive(tablet) {
      display: none; 
    }

    @include r.responsive(tablet-large) {
      left: 0;
      width: 100%;
    }
  }

  @include r.responsive(phone-large){
    background: none;
    flex-wrap: wrap;

    &::before, &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 95%;
      height: 2px;
      background-color: green;
      transform: translateX(-50%);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

  }
  @include r.responsive(phone){
    background: none;
    flex-wrap: wrap;

    &::before, &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 95%;
      height: 2px;
      background-color: green;
      transform: translateX(-50%);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  @include r.responsive(tablet) {
    background: none;
    flex-wrap: wrap;

    &::before, &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 95%;
      height: 2px;
      background-color: green;
      transform: translateX(-50%);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  ul {
    list-style-type: none;
    padding-top: 40px;
  }

  &__link {
    padding: 10px 0;
    cursor: pointer;
    color: $text-color;

    &:hover {
      color: $hover-text-color; 
    }
  }

  &__title {
    color: $title-text;
    
    &:hover {
      color: $title-text;
    }
  }

  &__content {
    display: flex;
  }

  &__column {
    display: flex;
    position: relative;
    z-index: 1;

    &--first {
      @include r.responsive(desktop) {
        margin-left: 100px;
      }
    }

    &--second {
      @include r.responsive(desktop){
        display: block;
        padding-top: 40px;
      }
      @include r.responsive(tablet-large){
        display: block;
        padding-top: 40px;
      }
      @include r.responsive(tablet){
        display: block;
        padding-top: 40px;
      }
      @include r.responsive(phone-large) {
        display: block;
        padding-top: 40px;

        ul {
          padding-top: 0;
        }
      }
    }
  }
}
