@use './../../shared/styles/mixins/no-user-text-selection' as n;
@use './../../shared/styles/mixins/responsive' as r;
@use './../../shared/styles/variables/colors' as colors;
@use './../../shared/styles/variables/fonts' as fonts;

$text-color--accent: colors.$app-accent;

$font-size--header: 65px;
$font-size--info: 20px;
$font-size--info-icon: 22px;

.contact-us {
  &__form {
    @include n.no-user-text-selection;
    display: flex;
  }
}