@use './../../shared/styles/mixins/no-user-text-selection' as n;
@use './../../shared/styles/mixins/responsive' as r;
@use './../../shared/styles/variables/colors' as colors;
@use './../../shared/styles/variables/fonts' as fonts;

$text-color--accent: colors.$app-accent;

$font-size--header: 65px;
$font-size--info: 20px;
$font-size--info-icon: 22px;

.contact-us {
  &__form {
    @include n.no-user-text-selection;

    &-text {
      &--highlight {
        color: $text-color--accent;
      }
    }

    &-header {
      &-container {
        display: flex;
        justify-content: center;
        text-transform: uppercase;

        span {
          font-size: $font-size--header;
          letter-spacing: -1px;

          & span {
            color: $text-color--accent;
          }
        }
      }
    }

    &-summary {
      &-container {
        margin-bottom: 40px;
      }
    }

    &-user {
      &-container {
        display: flex;
        justify-content: space-between;

        @include r.responsive(phone-large) {
          flex-direction: column;
        }
        @include r.responsive(phone) {
          flex-direction: column;
        }
      }
      &-item {
        width: 47%;

        @include r.responsive(phone-large) {
          width: 100%;
        }
        @include r.responsive(phone) {
          width: 100%;
        }
      }

      &-message {
        height: 100px;
      }
    }

    &-actions {
      &-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $font-size--info;

        @include r.responsive(phone-large) {
          justify-content: flex-end;
        }
        @include r.responsive(phone) {
          justify-content:  flex-end;
        }
      }

      &-info {
        display: flex;
        align-items: center;
        margin: 0 5px;

        &-container {
          display: flex;
          align-items: center;

          @include r.responsive(phone-large) {
            display: none;
          }
          @include r.responsive(phone) {
            display: none;
          }
        }

        &-icon{
          font-size: $font-size--info-icon;
          margin: 0 5px;
          transform: scale(1.5,1);
        }
      }

      &-submit {
        display: flex;
        align-items: center;
        &-text {
          margin-right: 10px;
        }
      }
    }
  }
}