@use "./../../shared/styles/mixins/no-user-text-selection" as n;

html {
  scroll-behavior: smooth;
}

#move-up-arrow {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  cursor: pointer;
  animation: triangle 4s both infinite;
  @include n.no-user-text-selection;

  @keyframes triangle {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(15px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  img {
    width: 43px;
    height: 100px;
  }
}

.move-up-arrow {
  opacity: 1;
  transition: 0.4s;

  &--hidden {
    opacity: 0;
  }
}
