@use "./../../shared/styles/mixins/no-user-text-selection" as n;
@use "./../../shared/styles/mixins/responsive" as r;
@use "./../../shared/styles/variables/colors" as colors;
@use "./../../shared/styles/variables/fonts" as fonts;

.circle-with-talking-head {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 15px;
  z-index: 700;

  @include r.responsive(desktop) {
    width: 17vw;
    top: 25%;
  }
  @include r.responsive(tablet-large) {
    width: 17vw;
    top: 23%;
  }
  @include r.responsive(tablet) {
    width: 17vw;
    top: 22%;
  }
  @include r.responsive(phone-large) {
    width: 17vw;
    top: 13%;
    left: 5px;
  }
  @include r.responsive(phone) {
    width: 17vw;
    top: 13%;
    left: 5px;
  }

  img {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
  }

  &__head-img {
    width: 80%;
    border-radius: 100%;
    position: absolute;
  }

  &__frame-img {
    width: 100%;
    border-radius: 100%;
    position: absolute;
    transform: rotate(180deg);
  }
}
