@use './../../../shared/styles/mixins/responsive.scss' as r;

.footer-create-by {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include r.responsive(tablet-large){
    margin-top: 200px;
  }
  @include r.responsive(tablet){
    margin-top: 200px;
  }
  @include r.responsive(phone-large){
    margin-top: 200px;
  }
  @include r.responsive(phone){
    margin-top: 200px;
  }

}

.create-by-text {
  flex: 1;
  text-align: center;
  color: green;
}

.logo-Sonic {
  img {
    height: 100px;
  }
}
