.language-switch {
  &__menu-item {
      display: flex;
      align-items: center;
  }
  &__language-text {
    margin-left: 8px;
  }
}

div.language-switch {
  &__flag {
    width: 48px;
    height: 48px;
  }
}

.language-switch__container {
  .language-switch__flag-btn {
    box-shadow: inset -3px -3px 7px rgba(0, 255, 0, 0.5);
  }
}