.firefly {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: rgb(0, 179, 15);
  border-radius: 50%;
  box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.5), 
              0 0 30px 20px rgba(0, 255, 0, 0.3);
}

.eco-app-network {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fireflies-container {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}
