.allLines{
  margin: 100px 0;
  height: 600px;
  display: flex;
  justify-content: center;
}
.firstLine {
  display: flex;
  position: relative;
  width: 400px;
  height: 100px;
}

.firstLinehorLoaderOne {
  width: 300px;
  height: 4px;
  border-radius: 30px;
  background-color: #ffffff;
  rotate: 90deg;
}

.firstLinevertLoaderOne {
  width: 200px;
  height: 4px;
  border-radius: 30px;
  background-color: #ffffff;
  position: absolute;
  top: 200px;
  left: 135px;
  transform: rotate(30deg);
}
.firstLinehorLoaderTwo {
  width: 200px;
  height: 4px;
  border-radius: 30px;
  background-color: #ffffff;
  position: absolute;
  top: 348px; 
  left: 220px; 
  transform: rotate(90deg);
}

.firstLineverLoaderTwo {
  width: 150px;
  height: 4px;
  border-radius: 30px;
  background-color: #ffffff;
  position: absolute;
  top: 485px;
  left: 309px;
  transform: rotate(30deg);
}

.firstLinehorLoaderThree {
  width: 150px;
  height: 4px;
  border-radius: 30px;
  background-color: #ffffff;
  position: absolute;
  top: 596px;
  left: 373px;
  transform: rotate(90deg);
}

/* Створюємо загальний псевдоелемент, що рухається через обидва лоадери */
// .allLoader::before {
//   content: "";
//   position: absolute;
//   background: blueviolet;
//   width: 200px;
//   height: 4px;
//   border-radius: 30px;
//   animation: move-between 2s linear infinite;
// }

// @keyframes move-between {
//   0% {
//     transform: translateX(0) rotate(0deg);
//   }
//   50% {
//     transform: translateX(200px) rotate(0deg);
//   }
//   100% {
//     transform: translateX(400px) rotate(30deg);
//   }
// }
