@use '/src/shared/styles/variables/colors' as colors;
@import "shared/styles/base/global-fonts" ;

.App {
  background-color: colors.$base-background-color;
  color: colors.$base-white-color;
  // height: 100vh;
  // width: 100vw;
  height: 100%;
  width: 100%;
}