@use '/src/shared/styles/variables/colors' as colors;
@import "shared/styles/base/global-fonts";
@import "shared/styles/base/spacings";

.App {
  // background-color: colors.$base-background-color;
  background-color: colors.$base-background-color-v2;
  color: colors.$base-white-color;
  height: 100%;
  width: 100%;  
}