.MuiPopper-root {
  .MuiPaper-root {
    box-shadow: 0px -7px 16px 0px #0197514a inset;
    border: 1px solid #939393;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.19) 0%, rgba(0, 255, 0, 0.06) 100%);
  }
}