.firefly {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 490px;
  right: 190px;
  background-color: rgb(0, 231, 19);
  border-radius: 50%;
  box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.5), 
              0 0 30px 20px rgba(0, 255, 0, 0.3);
}

