@use "./../../../shared/styles/mixins/no-user-text-selection" as n;
@use "./../../../shared/styles/mixins/responsive" as r;
@use "./../../../shared/styles/variables/colors" as colors;
@use "./../../../shared/styles/variables/fonts" as fonts;

$text-color--accent: colors.$app-accent;

$font-size--header: 65px;

.promotional-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 2vw;
    position: relative;
    text-align: center;
    margin: 25px;
    text-decoration: none;

    @include r.responsive(desktop-large) {
      // width: 14vw;
      // height: 14vw;
    }

    @include r.responsive(desktop) {
      width: 14vw;
      height: 14vw;
    }

    @include r.responsive(tablet-large) {
      width: 15vw;
      height: 15vw;
      margin: 12px;
    }

    @include r.responsive(tablet) {
      width: 20vw;
      height: 20vw;
      margin: 10px;
    }

    @include r.responsive(phone-large) {
      width: 20vw;
      height: 20vw;
      margin: 4px;
    }

    @include r.responsive(phone) {
      width: 22vw;
      height: 22vw;
      margin: 2px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 2vw;
      padding: 2px;
      background: linear-gradient(
        90deg,
        rgba(0, 255, 0, 0.8),
        rgba(0, 255, 0, 0),
        rgba(0, 255, 0, 0),
        rgba(0, 255, 0, 0),
        rgba(0, 255, 0, 0.8)
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }

    &-img--first {
      width: 100px;
      height: 125px;
      transform: skew(-10deg, 0deg);

      @include r.responsive(desktop-large) {
        // width: 7vw;
        // height: 9vw;
      }

      @include r.responsive(desktop) {
        width: 7vw;
        height: 9vw;
      }

      @include r.responsive(tablet-large) {
        width: 8vw;
        height: 10vw;
      }

      @include r.responsive(tablet) {
        width: 8vw;
        height: 10vw;
      }

      @include r.responsive(phone-large) {
        width: 9vw;
        height: 11vw;
      }

      @include r.responsive(phone) {
        width: 10vw;
        height: 12vw;
      }
    }

    &-img--second {
      width: 170px;
      height: 135px;

      @include r.responsive(desktop-large) {
        // width: 12vw;
        // height: 9vw;
      }

      @include r.responsive(desktop) {
        width: 12vw;
        height: 9vw;
      }

      @include r.responsive(tablet-large) {
        width: 13vw;
        height: 10vw;
      }

      @include r.responsive(tablet) {
        width: 13vw;
        height: 10vw;
      }

      @include r.responsive(phone-large) {
        width: 16vw;
        height: 13vw;
      }

      @include r.responsive(phone) {
        width: 17vw;
        height: 14vw;
      }
    }

    &-img--last {
      width: 150px;
      height: 170px;
      transform: skew(15deg, 355deg);

      @include r.responsive(desktop-large) {
        // width: 10vw;
        // height: 12vw;
      }

      @include r.responsive(desktop) {
        width: 10vw;
        height: 12vw;
      }

      @include r.responsive(tablet-large) {
        width: 11vw;
        height: 13vw;
      }

      @include r.responsive(tablet) {
        width: 11vw;
        height: 13vw;
      }

      @include r.responsive(phone-large) {
        width: 14vw;
        height: 17vw;
      }

      @include r.responsive(phone) {
        width: 15vw;
        height: 18vw;
      }
    }

    &-text {
      font-size: $font-size--header;
      font-weight: 700;
      letter-spacing: 3px;
      margin: 0;
      text-transform: uppercase;
      color: white;

      @include r.responsive(desktop-large) {
        // font-size: 4vw;
      }

      @include r.responsive(desktop) {
        font-size: 4vw;
      }

      @include r.responsive(tablet-large) {
        font-size: 4.2vw;
      }

      @include r.responsive(tablet) {
        font-size: 4.2vw;
      }

      @include r.responsive(phone-large) {
        font-size: 4.4vw;
      }

      @include r.responsive(phone) {
        font-size: 4.4vw;
      }

      span {
        color: colors.$app-accent;
      }
    }
  }

  &__link:first-child {
    transform: skew(10deg, 0deg);
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 2vw;
      padding: 2px;
      background: linear-gradient(
        115deg,
        rgba(0, 255, 0, 0.8),
        rgba(0, 255, 0, 0.8),
        rgba(0, 255, 0, 0),
        rgba(0, 255, 0, 0),
        rgba(0, 255, 0, 0),
        rgba(0, 255, 0, 0.8),
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }
  }

  &__link:nth-child(2) {
    width: 350px;
    height: 350px;
    border-radius: 3vw;

    @include r.responsive(desktop-large) {
      // width: 24vw;
      // height: 24vw;
    }

    @include r.responsive(desktop) {
      width: 24vw;
      height: 24vw;
    }

    @include r.responsive(tablet-large) {
      width: 25vw;
      height: 25vw;
    }

    @include r.responsive(tablet) {
      width: 30vw;
      height: 30vw;
    }

    @include r.responsive(phone-large) {
      width: 30vw;
      height: 30vw;
    }

    @include r.responsive(phone) {
      width: 32vw;
      height: 32vw;
    }

    &::before {
      border-radius: 3vw;
    }
  }

  &__link:last-child {
    transform: skew(-10deg, 0deg);
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 2vw;
      padding: 2px;
      background: linear-gradient(
        65deg,
        rgba(0, 255, 0, 0.8),
        rgba(0, 255, 0, 0),
        rgba(0, 255, 0, 0),
        rgba(0, 255, 0, 0),
        rgba(0, 255, 0, 0.8),
        rgba(0, 255, 0, 0.8)
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }
  }
}
